:root {
  --color-green: #21cc6b;
  --color-blue: #2d97e1;
  --color-dark-blue: #344a61;
  --color-magenta: #a058bc;
  --color-orange: #e97e07;
  --color-white: #fff;
}

/* Base
        ============================= */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 960px;
  height: 400px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.box {
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  background-color: var(--color-green);
  font-size: 1.2rem;
  width: 80px;
  height: 60px;
}

.box2 {
  background-color: var(--color-blue);
  font-size: 2.4rem;
  width: 120px;
  height: 80px;
}

.box3 {
  background-color: var(--color-dark-blue);
  font-size: 4.8rem;
  width: 210px;
  height: 120px;
}

.box4 {
  background-color: var(--color-magenta);
  font-size: 2.4rem;
  width: 120px;
  height: 80px;
}

.box5 {
  background-color: var(--color-orange);
  font-size: 1.2rem;
  width: 80px;
  height: 60px;
}
